{% if state == 'start' %}
_*Здесь вы можете получить информацию о мероприятиях*_
{%- endif -%}

{% if button == 'next' -%}
Актуальные мероприятия
{%- elif button == 'previous' -%}
Архив прошедших событий
{%- endif -%}