{% if state == '0' %}
⌨️ Введите вашу фамилию и имя
{%- elif state == '1' -%}
☎️ Введите номер телефона
{%- elif state == '2' -%}
📧 Введите свою почту
{%- elif state == '3' -%}
🤝Даете ли вы согласие на обработку персональных данных?
{%- elif state == '4' -%}
🎉Вы успешно зарегистрировались!
Вы можете получить ссылку прямо сейчас, если она готова или можете выбрать способ уведомления о начале мероприятии
{%- elif state == 'accept' -%}
🏁Отлично, остался последний шаг
{%- elif state == 'decline' -%}
Хорошо, давайте внесем изменения
{%- elif state == 'more' -%}
Хотите выбрать еще один способ уведомления?
{%- elif state == 'error' -%}
🛑 Вы ввели некорректные данные
{%- elif  state == 'not_ready' -%}
🖤 К сожалению ссылка на данный момент не готова, но мы работаем над этим и обязательно пришлем вам ее как только она появится
{%- endif -%}


{%- if event -%}
Мероприятие будет проходить {{ event.date.date().strftime('%d.%m.%Y') }} в {{ event.date.time().strftime('%H:%M') }}
👉<a href="{{ event.stream_link }}">Ссылка на трансляцию</a>👈
{%- endif -%}

{%- if user -%}
<u><b>У нас есть следующие данные о вас:</b></u>
• Имя - {{ user.first_name }}
• Фамилия - {{ user.last_name }}
• Номер телефона - {{ user.phone }}
• Адрес электронной почты - {{ user.email }}

<b>Вы подтверждаете эти данные или хотите их изменить?</b>
{%- endif -%}

{%- if button == 'yes' -%}
👌Подтверждаю
{%- elif button == 'no' -%}
⌨️ Хочу изменить свои данные
{%- elif button == 'accept' -%}
✅ Согласен
{%- elif button == 'decline' -%}
❌ Нет, я передумал
{%- elif button == 'now' -%}
⏰ Хочу получить ссылку сейчас
{%- elif button == 'hour_before' -%}
🕙 Напомнить за час
{%- elif button == 'in_moment' -%}
🕕 Напомнить в момент начала
{%- elif button == 'repeat' -%}
Да, хочу выбрать еще один способ
{%- elif button == 'exit' -%}
Нет, хочу вернуться в главное меню
{%- endif -%}


