{% if state == 'start' -%}
_*Введите свой вопроc к куратору или нажмите /menu, чтобы выйти в главное меню*_
{%- elif state == 'question' -%}
__Ответ на вопрос: {{ text_from }}\.\.\.__

{{ text_to }}
{%- elif state == 'answer_process' -%}
🚀_*Наши сотрудники постараются ответить вам как можно скорее*_
{%- elif state == 'close_dialog' -%}
👌Хорошо
{%- elif state == 'continue' -%}
⌨ _*Отлично, введите свой вопроc к куратору или нажмите /menu, чтобы выйти в главное меню*_
{%- endif -%}

{% if button == 'yes' -%}
Да, меня еще остались вопросы
{%- elif button == 'no' -%}
Нет, спасибо
{%- endif -%}