{% if state == 'description' %}
Демо-неделя - это ежедневная рассылка материалов, посвященных онлайн-обучению.
Рассылка проходит с понедельника по воскресенье. Если вы пропустите какую-то часть, можете подписаться заново
{%- elif state == 'subscription' -%}
👌Вы активировали подписку
{%- elif state == 'to_main' -%}
🧠Если передумаете, вы всегда можете подписаться
{%- elif state == 'unsubscribe' -%}
👋Вы отписались от рассылки
{%- elif state == 'not_found' -%}
🤷Вы не были подписаны на рассылку
{%- endif -%}

{%- if button == 'yes' -%}
🤘Отлично, я хочу подписаться
{%- elif button == 'no' -%}
😕Нет, может быть в другой раз
{%- elif button == 'unsubscribe' -%}
✋Я больше не хочу получать рассылку
{%- endif -%}
