{% if state == 'university' %}
🤔 __*Выберите учебное заведение из списка*__
{%- elif state == 'program' -%}
🤔 __*Какое направление вас интересует?*__
{%- elif state == 'question' -%}
🤔 __*Выберите интересующий вопрос*__
{%- elif state == 'sub_question' -%}
🤔 __*Выберите интересующий вопрос*__
{%- elif state == 'error' -%}
⛔Произошла ошибка. Повторите запрос позднее
{%- endif -%}

{%- if button == 'end' -%}
👈Mеню
{%- elif button == 'back_to_universities' -%}
👈Организации
{%- elif button == 'back_to_programs' -%}
👈Учебные программы
{%- elif button == 'back_to_questions' -%}
👈Еще вопрос
{%- endif -%}
