{% if state == 'university_name' -%}
⌨ _*Введите название учебного заведения, о котором хотите получить информацию*_
{%- elif state == 'question' -%}
🤔 _*Хорошо, что вас интересует?*_
{%- elif state == 'please_wait' -%}
_*Подождите, идет обработка запроса\.\.\.*_
{%- elif state == 'another_question' -%}
🤔_*Хотите задать еще вопрос?*_
{%- elif state == 'ok' -%}
👌_*Хорошо*_
{%- elif state == 'same_university' -%}
_*Отлично, у вас вопрос про то же учебное заведение?*_
{%- elif state == 'same' -%}
⌨ _*Введите свой вопрос*_
{%- elif state == 'other' -%}
⌨ _*Введите интересующее вас учебное заведение*_
{%- endif -%}

{%- if button == 'yes' -%}
Да, у меня еще остались вопросы
{%- elif button == 'no' -%}
Нет, я узнал все, что хотел
{%- elif button == 'same' -%}
Да, о том же
{%- elif button == 'other' -%}
Нет, о другом
{%- endif -%}
