{% if state == 'help' -%}
Help command
{%- elif state == 'start' -%}
👋_*ПРИВЕТ, МЫ ПОМОЖЕМ ТЕБЕ НАЙТИ НЕОБХОДИМУЮ ИНФОРМАЦИЮ*_
{%- elif state == 'menu' -%}
👑 _*ГЛАВНОЕ МЕНЮ*_ 👑
{%- endif -%}

{% if button == 'question' -%}
Задать о вопрос о поступлении
{%- elif button == 'events' -%}
Мероприятия
{%- elif button == 'article' -%}
Статьи
{%- endif -%}
